* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #111927;
    background-image:
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(219.31, 66%, 43%) 0, transparent 55%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 450px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 4px solid rgba(255, 255, 255, 0.125);
}

#equation {
    margin-top: 20px;
    padding-inline: 20px;
    text-align: right;
    width: 100%;
    min-height: 28.8px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
}

#result {
    padding-inline: 20px;
    text-align: right;
    width: 100%;
    color: #fff;
    font-size: 30px;
    outline: none;
}

table
{
    width: 100%;
}

td {
    border: 2px solid rgba(17, 25, 40, 0.75);
}

.btn {
    width: 100%;
    height: 100%;
    font-size: 35px;
    display: block;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    padding: 20px 30px;
    background: transparent;
}

.btn:hover
{
    background: rgba(255, 255, 255, 0.125);
}

.backspace
{
    background: rgba(17, 25, 40, 0.75);
}

.sign
{
    background: rgba(0,0,0,.5);
}

.sign:hover
{
    background: rgba(255, 255, 255, 0.125);
}

@media screen and (max-width:380px){
    td
    {
        width:85px;
    }

    .btn
    {
        padding: 30px;
        font-size: 20px;
    }

    .container {
        max-width: 450px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction:column;
    }

    #equation
    {
        margin-top: 70px;
    }
}